flask
flask-sqlalchemy
flask-wtf
flask-login
flask-bcrypt
flask-migrate
textblob
transformers
nltk
vaderSentiment
flask-bootstrap
flask-assets
werkzeug
wtforms
pillow
flask-mail
python-dotenv
flask-debugtoolbar
pytest
coverage
flask_sqlalchemy
Flask
Flask-SQLAlchemy
Flask-WTF
Flask-Migrate
numpy
scikit-learn
tensorflow
pandas
nltk
